<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<---------Вставьте сюда стиль--------->
<---------Вставьте сюда хэдер--------->
<body>
<form>
    <select>
        <option value="None">-Выберете причину-</option>
        <option value="spam">Спам голосованиями</option>
        <option value="offense">Оскорбление личности</option>
        <option value="nsfw">Публикация неприличного контента</option>
        <option value="local">Слив личных данных</option>
    </select>
    <textarea></textarea>
    <button type="submit">Отправить</button>
</form>
</body>
<---------Вставьте сюда футер--------->
</html>