{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
<form>
    <div>
    <select>
        <option value="None">-Выберете причину-</option>
        <option value="spam">Спам голосованиями</option>
        <option value="offense">Оскорбление личности</option>
        <option value="nsfw">Публикация неприличного контента</option>
        <option value="local">Слив личных данных</option>
    </select>
    </div>
    <div>
    <textarea></textarea>
    </div>
    <input type="submit" value="Send">
</form>
</div>
{% endblock %}


