{% load static %}
{% include 'base.html' %}

{% block extra_css %}
  <style type="text/css">
        footer {
            position:relative;
            top:550px;
        }

        #voting {
            position: absolute;
            display:flex;
            flex-direction: column;
            width: 506px;
            height: 891px;
            left: 692px;
            top: 133px;
            background: #3A3A3A;
        }

        #mainContent {
            position: absolute;
            width: 457px;
            height: 496px;
            left: 25px;
            top: 10px;
            background: #292929;
            display:flex;
            flex-direction: column;
        }

        #boxComment{
            position: absolute;
            width: 457px;
            height: 65px;
            left: 25px;
            top: 610px;
            background: #292929;
            border-radius: 11px;
            color: #FFFFFF;
        }

        #rating{
            position: absolute;
            width: 457px;
            height: 52px;
            left: 25px;
            top: 540px;
            background: #292929;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            padding:5px;
        }

        #tittleVoting{
            width: 41px;
            height: 25px;
            font-family: 'Righteous';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            color: #FFFFFF;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #options{
            display:flex;
            flex-direction: column;
        }

        .labelRadio{
            position: absolute;
            font-family: 'Righteous';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            color: #FFFFFF;
        }

        #voteText{
            position: relative;
            left:31px;
            width: 396px;
            height: 230px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 22px;
            color: #FFFFFF;
        }

        .percent{
            position: relative;
            width: 14px;
            height: 12px;
            font-family: 'Righteous';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            color: #FFFFFF;
        }

        .option{
            display: flex;
            display-direction: row;
            justify-content:space-around;
        }

        .buttonSubmitVote {
          min-width: 50px;
          width: 175px;
          display:block;
          margin-top:15px;
          margin-left:27.5%;
          text-align: center;
          font-family: inherit;
          appearance: none;
          border: 0;
          border-radius: 5px;
          background: #3A3A3A;
          color: #fff;
          padding: 8px 16px;
          cursor: pointer;
          font-family: 'Righteous';
          font-style: normal;
          font-weight: 400;
          font-size: 17.5px;
        }

        .buttonSubmitVote:hover {
          background: #AAAAAA;
        }

        .buttonSubmitVote:focus {
          outline: none;
          box-shadow: 0 0 0 4px #cbd6ee;
        }

        .comment{
          position: relative;
          width: 457px;
          height: 44px;
          left: 25px;
          top: 700px;
          margin-top:10px;
          background: #292929;
          border-radius: 11px;
          display:flex;
          flex-direction:row;
          justify-content: space-around;
          padding:5px;
        }

        #rateComment{
            margin-top:15px;
        }
    </style>

{% endblock %}
{% block content %}
<body>
        <div name = "voting" id = "voting">
            <div name = "mainContent" id = "mainContent">

            </div>
            <div name = "rating" id = "rating">
                <input type="image" src="{% static 'comment.svg' %}" name = "comment" onclick="commentFunc();">
                <input type="image" src="{% static 'like.svg' %}" name = "like">
                <input type="image" src="{% static 'repost.svg' %}" name = "repost">

            </div>
            <input name = "comment" type = "text" placeholder="Insert your comment here..." id ="boxComment">
            <div class="comment">
                <img src="{% static 'avatar.svg' %}" name ="avatar">
                <p name = "nameUser">Test-user</p>
                <p name ="commentContent">Both looks super cool!!!</p>
                <div name ="rateComment" id ="rateComment">
                  <input type="image" src="{% static 'likeComment.svg' %}" name = "likeComment" onclick="">
                  <input type="image" src="{% static 'reportComment.svg' %}" name = "reportComment" onclick="">
                </div>
            </div>
        </div>
</body>
{% endblock %}
{% block extra_js %}
    <script>
        var voting = new Object();
        voting["tittle"] = "Tittle";
        voting["text"] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat, libero a porttitor facilisis, felis neque elementum tortor, non blandit nibh nisl eget sapien. Donec odio ligula, dignissim nec semper eu, cursus non enim. Donec tortor turpis, lacinia dignissim sagittis sed, ultricies ac turpis. In porttitor mattis mattis. Mauris id elementum ex. Phasellus vel mi est. In ut felis orci. Sed libero erat, cursus et malesuada a, pellentesque id tortor."
        voting["type"] = 1
        voting["options"] = [
          {
            "text":"First",
          },
          {
            "text":"Second",
          },
          {
            "text":"Third",
          },
          {
            "text":"Fourth",
          },
        ];

        var types = ["radio","checkbox"]

        var tittle = document.createElement("h3");
        tittle.id = "tittleVoting";
        var tittleText = document.createTextNode(voting["tittle"]);
        tittle.appendChild(tittleText);

        var voteText = document.createElement("p");
        voteText.id = "voteText";
        voteText.name = "voteText";
        var voteTextContent = document.createTextNode(voting["text"]);
        voteText.appendChild(voteTextContent);

        document.getElementById("mainContent").appendChild(tittle);
        document.getElementById("mainContent").appendChild(voteText);

        var options = document.createElement("div");
        options.id = "options";


        for (let i = 0; i < voting["options"].length;i++){
            var option = document.createElement("div");
            option.classList.add('option');


            var optionDiv = document.createElement("div");

            var radioBtn = document.createElement("input");
            radioBtn.type = types[voting['type']-1];
            radioBtn.id = "Choice" + String(i+1);
            radioBtn.setAttribute('value', voting["options"][i]);
            radioBtn.setAttribute('name', 'options');
            radioBtn.classList.add('radioBtn');

            var labelForRadio = document.createElement("label");
            var voteTextContent = document.createTextNode(voting["options"][i]);
            labelForRadio.setAttribute('for', radioBtn.id);
            labelForRadio.classList.add('labelRadio');
            labelForRadio.appendChild(voteTextContent);

            optionDiv.appendChild(radioBtn);
            optionDiv.appendChild(labelForRadio);


            var progressDiv = document.createElement("div");

            var progressBar = document.createElement("progress");
            progressBar.setAttribute('max', "100");
            progressBar.setAttribute('value', "0");
            progressBar.id = "progressChoice" + String(i+1);

            var progressLabel = document.createElement("label");
            var progressLabelContent = document.createTextNode("0%");
            progressBar.setAttribute('for', progressBar.Id);
            progressLabel.classList.add('percent');
            progressLabel.appendChild(progressLabelContent);

            progressDiv.appendChild(progressBar);
            progressDiv.appendChild(progressLabel);

            option.appendChild(optionDiv);
            option.appendChild(progressDiv);

            options.appendChild(option)
        }

        console.log(options)
        document.getElementById("mainContent").appendChild(options);

        var btnSubmit = document.createElement("button");
        btnSubmit.classList.add("buttonSubmitVote")
        var btnSubmitContent = document.createTextNode("Submit");
        btnSubmit.append(btnSubmitContent);

        document.getElementById("mainContent").appendChild(btnSubmit);

        function commentFunc(){
          alert("You button was pressed");
        };

    </script>
{% endblock %}
