<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
    <header>
        <h1 name = "logo">

        </h1>
        <div name = "btnshead">
            <btn name = "About Us"></btn>
            <btn name = "Votings"></btn>
            <btn name = "Profile"></btn>
            <btn name = "Log in/out"></btn>
        </div>
    </header>
    <main>
        <div name = "voting">
            <div name = "mainContent">

            </div>
            <div name = "rating">
                <btn name = "like">

                </btn>

            </div>

        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
